<section class="about container">
  <h2>About Me</h2>

  <p>
    I’m <strong>Mistura Ishola </strong>, a passionate Frontend and Mobile App Developer 
    with a strong foundation in creating user-friendly, responsive and scalable applications.
  </p>


  <p>
    I specialize in <strong>HTML, CSS, JavaScript, React.js and Cordova</strong> to build modern 
    web applications and cross-platform mobile apps. My journey in tech has been driven by 
    curiosity, continuous learning and the desire to craft solutions that improve user experience.
  </p>


  <p>
    Outside of coding, I enjoy solving problems creatively and continuously challenging myself 
    with new technologies.
  </p>


  <p>
    Currently, I’m deepening my expertise in <strong>Angular, WordPress REST API and Firebase</strong> 
    to expand my skills in building dynamic apps with real-time features.
  </p>


  <p>
    My ultimate goal is to contribute to impactful projects, grow within the tech ecosystem
    and help businesses bring their digital ideas to life.
  </p>

  
  <div class="skills">
    <span class="skill">HTML</span>
    <span class="skill">CSS</span>
    <span class="skill">JavaScript</span>
    <span class="skill">Angular</span>
    <span class="skill">React</span>
    <span class="skill">Cordova</span>
    <span class="skill">WordPress</span>
    <span class="skill">Firebase</span>
  </div>
</section>
