<section class="projects container">
  <h2>My Projects</h2>
  <p class="section-title">Here are a few things I’ve built recently:</p>


  <div class="project-grid" style="margin-top:20px;">
    <article class="project-card">
      <h3>Personal Portfolio Website</h3>
      <p>A responsive Angular portfolio to showcase my skills and projects.</p>
    </article>

    <article class="project-card">
      <h3>Calculator App</h3>
      <p>A clean calculator built with HTML, CSS, and JavaScript for basic operations.</p>
    </article>

    <article class="project-card">
      <h3>Event App (Cordova + WordPress)</h3>
      <p>Cross-platform mobile app connected to a WordPress backend for content.</p>
    </article>

    <article class="project-card">
      <h3>Blog App</h3>
      <p>A mobile app connected to WordPress REST API, where users can view, create, edit, and delete posts. Built with Cordova and App.js.</p>
    </article>
  </div>
</section>
