<section class="hero container">
    <h1>Hi, I'm <span class="name">Mistura Ishola</span></h1>
    <p>Frontend & Mobile App Developer</p>
    
    <p>
     I’m passionate about building modern, responsive and user-friendly 
      web and mobile applications. With a strong foundation in 
      <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, <b>React.js</b> and <b>Cordova</b>, 
      I thrive on solving problems and creating smooth digital experiences.
    </p>
    
    <p>
      Currently, I’m sharpening my skills in <b>Angular</b> and exploring 
      full-stack possibilities while working on real-world projects. 
      My goal is to keep learning, collaborate with innovative teams
      and contribute to impactful solutions in technology.
    </p>
</section>
